name: Docker image (Java)

on:
  push:
    branches:
      - master
    paths:
      - '**/ci-java.yml'
      - 'java-graalvm.Dockerfile'
      - 'java-bellsoft.Dockerfile'
      - 'java.entrypoint.sh'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  java:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip-ci]') }}
    strategy:
      fail-fast: false
      matrix:
        java_version: [11, 17, 21, 25]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set Dockerfile path
        id: set_dockerfile
        run: |
          if [ ${{ matrix.java_version }} -lt 21 ]; then
            echo "dockerfile=java-bellsoft.Dockerfile" >> $GITHUB_OUTPUT
          else
            echo "dockerfile=java-graalvm.Dockerfile" >> $GITHUB_OUTPUT
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to DockerHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          build-args: JAVA_VERSION=${{ matrix.java_version }}
          context: .
          file: ${{ steps.set_dockerfile.outputs.dockerfile }}
          platforms: linux/amd64, linux/arm64
          push: true
          tags: djoh/all-in-one:java${{ matrix.java_version }}
          cache-from: type=registry,ref=djoh/all-in-one:buildcache_java${{ matrix.java_version }}
          cache-to: type=registry,ref=djoh/all-in-one:buildcache_java${{ matrix.java_version }},mode=max
