name: Docker image (Node)

on:
  push:
    branches:
      - master
    paths:
      - '**/ci-node.yml'
      - 'nodejs.Dockerfile'
      - 'nodejs.entrypoint.sh'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  nodejs:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip-ci]') }}
    strategy:
      fail-fast: false
      matrix:
        node_version: [12, 14, 16, 18, 19, 20, 22]
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@4574d27a4764455b42196d70a065bc6853246a25 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3

      - name: Login to DockerHub
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6
        with:
          build-args: NODE_VERSION=${{ matrix.node_version }}
          context: .
          file: nodejs.Dockerfile
          platforms: linux/amd64, linux/arm64
          push: true
          tags: djoh/all-in-one:node${{ matrix.node_version }}
          cache-from: type=registry,ref=djoh/all-in-one:buildcache_node${{ matrix.node_version }}
          cache-to: type=registry,ref=djoh/all-in-one:buildcache_node${{ matrix.node_version }},mode=max
